<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Control de Ausencia y Salidas de Planta</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bienvenida.css') }}"
    />
  </head>
  <body>
    <header class="bg-light py-3 mb-2">
      <div
        class="container d-flex justify-content-between align-items-center gap-3"
      >
        <div class="d-flex align-items-center gap-3">
          <span class="badge bg-primary badge-nomina rounded-pill">
            <i class="bi bi-person-badge me-2"></i>
            {{ session['numNomina'] }}
          </span>
          <h1 class="h3 mb-0 text-nowrap">{{ session['user'] }}</h1>
        </div>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger"
          >Cerrar Sesión</a
        >
      </div>
    </header>

    <div class="container mt-5">
      <!-- Encabezado de la página -->
      <div class="card mb-2 shadow">
        <div class="card-header bg-primary">
          <h5 class="mb-0 text-white">Solicitud de Incidencia</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- Logo a la izquierda -->
            <div class="col-md-4 d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='img/Logo-transparente.ico') }}"
                alt="logo_tohken"
                class="img-fluid"
                style="width: 75px"
              />
            </div>

            <!-- TIO-702.01.03/B en el centro -->
            <div
              class="col-md-4 d-flex align-items-center justify-content-center text-center"
            >
              <p class="mb-0" style="font-weight: bold; font-size: 16px">
                TIO-702.01.03/B <br />
                Control de Ausencia y Salidas de Planta
              </p>
            </div>

            <!-- Control de Ausencia y Salidas de Planta / Edición a la derecha -->
            <div
              class="col-md-4 d-flex align-items-center justify-content-end text-center"
            >
              <div class="text-end">
                <p
                  class="text-muted mb-0"
                  style="font-weight: bold; font-size: 16px"
                >
                  Edición 1ra. <br />
                  Fecha: 10-Ene-20
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Formulario de incidencia -->
      <div class="card shadow">
        <div class="card-body">
          <form
            method="POST"
            action="{{ url_for('incidencias.crear_incidencia') }}"
          >
            <!-- Información del solicitante -->
            <div class="row mb-2" style="font-size: 14px">
              <div class="col-md-3">
                <label for="nombre" class="form-label"
                  >Nombre(s) del Solicitante</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  placeholder="Nombre"
                  style="font-size: 12px"
                  required
                />
              </div>
              <div class="col-md-3">
                <label for="apellido_paterno" class="form-label"
                  >Apellido Paterno</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="apellido_paterno"
                  name="apellido_paterno"
                  placeholder="Apellido Paterno"
                  style="font-size: 12px"
                  required
                />
              </div>
              <div class="col-md-3">
                <label for="apellido_materno" class="form-label"
                  >Apellido Materno</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="apellido_materno"
                  name="apellido_materno"
                  placeholder="Apellido Materno"
                  style="font-size: 12px"
                />
              </div>
              <div class="col-md-3">
                <label for="fecha_solicitud" class="form-label"
                  >Fecha de Solicitud</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="fecha_solicitud"
                  name="fecha_solicitud"
                  style="font-size: 12px"
                  required
                />
              </div>
            </div>

            <!-- Información adicional -->
            <div class="row mb-2" style="font-size: 14px">
              <!-- Campo de Puesto -->
              <div class="col-md-3 style="font-size: 12px"">
                  <label for="puesto" class="form-label">Puesto</label>
                  <select class="form-select" id="puesto" name="puesto" style="font-size: 12px;" required>
                      {% for puesto in puestos %}
                          <option value="{{ puesto.idPuesto }}">{{ puesto.nombrePuesto }}</option>
                      {% endfor %}
                  </select>
              </div>

              <div class="col-md-3">
                <label for="no_nomina" class="form-label">No. Nómina</label>
                <input
                  type="number"
                  class="form-control"
                  id="no_nomina"
                  name="no_nomina"
                  placeholder="0000"
                  style="font-size: 12px"
                  min="0"
                  max="9999"
                  required
                />
              </div>
            <!-- Campo de Departamento -->
            <div class="col-md-3"">
                <label for="departamento" class="form-label">Departamento</label>
                <select class="form-select" id="departamento" name="departamento" style="font-size: 12px;" required>
                    {% for departamento in departamentos %}
                        <option value="{{ departamento.idDepartamento }}">{{ departamento.nombreDepartamento }}</option>
                    {% endfor %}
                </select>
            </div>
              <div class="col-md-3" >
                <label for="vacaciones" class="form-label"
                  >Días de Vacaciones Restantes</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="vacaciones"
                  name="vacaciones"
                  placeholder="00"
                  min="0"
                  max="22"
                  style="font-size: 12px;"
                  disabled
                />
              </div>
            </div>

            <!-- Vacaciones restantes, Fecha de inicio y Fecha de fin -->
            <div class="row mb-2" style="font-size: 14px;">
              <div class="col-md-3">
                <label for="motivo_ausencia" class="form-label">Motivo</label>
                <select
                  class="form-select"
                  id="motivo_ausencia"
                  name="motivo"
                  style="font-size: 12px"
                  required
                >
                  <option value="goce_sueldo">
                    Permiso con goce de sueldo
                  </option>
                  <option value="sin_goce_sueldo">
                    Permiso sin goce de sueldo
                  </option>
                  <option value="motivos_trabajo">
                    Entrada o salida por motivos de trabajo
                  </option>
                  <option value="vacaciones">Vacaciones</option>
                  <option value="olvido_gafete">Olvido de gafete</option>
                  <option value="tiempo_x_tiempo">Tiempo x Tiempo</option>
                </select>
              </div>

              <div class="col-md-1">
                <label for="num_dias" class="form-label">No de Días</label>
                <input
                  type="number"
                  class="form-control"
                  id="num_dias"
                  name="num_dias"
                  min="0"
                  max="10"
                  maxlength="2"
                  style="font-size: 12px;"
                />
              </div>

              <div class="col-md-2">
                <label for="fecha_inicio" class="form-label"
                  >Fecha de Inicio</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="fecha_inicio"
                  name="fecha_inicio"
                  style="font-size: 12px;"
                  required
                />
              </div>
              <div class="col-md-2">
                <label for="fecha_fin" class="form-label" style="font-size: 14px;">Fecha de Fin</label>
                <input
                  type="date"
                  class="form-control"
                  id="fecha_fin"
                  name="fecha_fin"
                  style="font-size: 12px;"
                  required
                />
              </div>
              <div class="col-md-2 hora-fields">
                <label for="hora_entrada" class="form-label" style="font-size: 14px;"
                  >Hora de Entrada</label
                >
                <input
                  type="time"
                  class="form-control"
                  id="hora_entrada"
                  name="hora_entrada"
                  style="font-size: 14px;"
                />
              </div>
              <div class="col-md-2 hora-fields">
                <label for="hora_salida" class="form-label"
                  >Hora de Salida</label
                >
                <input
                  type="time"
                  class="form-control"
                  id="hora_salida"
                  name="hora_salida"
                  style="font-size: 14px;"
                />
              </div>
            </div>

            <!-- Observaciones -->
            <div class="mb-4" style="font-size: 14px;">
              <label for="comentarios" class="form-label"
                ><b>Observaciones:</b></label
              >
              <textarea
                class="form-control"
                id="comentarios"
                name="comentarios"
                rows="4"
                maxlength="250"
                placeholder="Escribe aquí tu comentario (máximo 250 caracteres)..."
                style="font-size: 12px;"
                required
              ></textarea>
              <small class="form-text text-muted">Máximo 250 caracteres.</small>
            </div>

            <!-- Botones de acción -->
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-success">
                Enviar Solicitud
              </button>
              <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

    <!-- Script para mostrar/ocultar campos de hora -->
    <script src="../static/js/incidencia.js"></script>
  </body>
</html>
