.pricing-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease;
    height: 250px; /* Ajusta la altura según sea necesario */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing-card:hover {
    transform: translateY(-10px);
    background-color: #eeebeb;
    border: 2px solid black;
}

.pricing-card-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.pricing-card-footer {
    margin-top: auto; /* Empuja el contenido hacia abajo */
}

.pricing-card {
    border-color: black;
}

.btn-custom {
    font-weight: bold;
    width: 100%; /* Asegura que el botón ocupe todo el ancho */
    margin-top: 10px; /* Espacio entre la imagen y el botón */
}

/* Animación de desvanecimiento */
.fade-out {
    opacity: 0 !important;
    transition: opacity 0.5s ease-out !important;
}

.btn-close {
    margin-left: auto; /* Empuja el botón a la derecha */
}

.badge-nomina {
    font-size: 1.2rem;       /* Tamaño de letra más grande */
    padding: 0.5rem 1.2rem;  /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
    transition: all 0.3s ease; /* Efecto al pasar el mouse */
}
.badge-nomina:hover {
    transform: scale(1.05);  /* Efecto de escala al hover */
}

/* Estilos para estados */
.estado-aprobado {
    background-color: #28a745;
    color: white;
    font-weight: bold;
}

.estado-rechazado {
    background-color: #dc3545;
    color: white;
    font-weight: bold;
}

.estado-pendiente-supervisor {
    background-color: #ffc107;
    color: #212529;
    font-weight: bold;
}

.estado-pendiente-gerente {
    background-color: #17a2b8;
    color: white;
    font-weight: bold;
}

